<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta property="og:title" content="라현이의 첫돌❤️">
    <meta property="og:description" content="소중한 지인분들을 초대합니다.">
    <meta property="og:image" content="./images/rahyun00.jpg">    
    <script src="./jquery.js"></script>
    <script src="./main.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  <body>
    <div id="main-ctr" class="main-size">
      <div id="main-bg" class="main-size"></div>
      <div id="center-img">
        <img id="rabbit-ears-img" src="./images/rabbit-ears.png" />
      </div>
      <img id="rabbit-img" src="./images/rabbit-img.png" />
      <div id="main-sub-ctr">
        <a>
          토끼의 해에 태어난 라현이의 첫번째 생일에<br>
          여러분을 초대합니다 💕<br><br>
          2024.10.06(일) 12시<br>
          마산뷔페파크</a>
      </div>
      <a class="center-msg">HAPPY BIRTHDAY<br>KANG RA HYUN</a>
    </div>
    <!-- 초대 편지 -->
    <h1 class="title-msg">INVITATION</h1>
    <div style="position: relative;">
      <div id="letter-band"></div>
      <div id="letter-ctr">
        <img id="letter-top" src="./images/letter-top.png" />
        <img id="letter-bot" src="./images/letter-bot.png" />
        <a id="letter-head">
          라현이의 소중한 지인분들께 💕<br><br>
        </a>
        <a id="letter-msg">
          동해물과 백두산이 마르고 닳도록 하나님이 보우하사 우리나라<br>
          동해물과 백두산이 마르고 닳도록 하나님이 보우하사 우리나라<br>
          동해물과 백두산이 마르고 닳도록 하나님이 보우하사 우리나라<br>
          동해물과 백두산이 마르고 닳도록 하나님이 보우하사 우리나라<br>
        </a>
        <a id="letter-footer">
          아빠 강태성 & 엄마 김유경 올림.
        </a>
      </div>
    </div>

    <!-- 사진 -->
    <h1 class="title-msg">VIEW PHOTOS</h1>
    <div id="main-img"></div>
    <div id="img-list" class="no_scroll">
      <% for(var i=0; i<10; i++) { %>
        <img src="/images/rahyun00.jpg">
      <% } %>
    </div>

    <!-- 위치 -->
    <div id="info-ctr">
      <h1 class="title-msg">INFOMATION</h1>
      <div>
        지도랑 남은 시간, 위치, 방문 예정자, 좋아요, 방명록 만들면 끝
      </div>
    </div>

    <h1 id="made-msg">made by uncle. only for ra-hyun.</h1>
  </body>
</html>

<!--
토끼의 해에 태어난 라현이의 첫번째 생일에<br>
여러분을 초대합니다 💕<br><br>
2024.10.06 12시 
마산뷔페파크
-->