<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta property="og:title" content="라현이의 첫돌❤️">
    <meta property="og:description" content="소중한 지인분들을 초대합니다.">
    <meta property="og:image" content="./images/rahyun00.jpg">    
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  <body>
    <div id="main-ctr" class="main-size">
      <div id="main-bg" class="main-size"></div>
      <div id="center-img">
        <img id="rabbit-ears-img" src="./images/rabbit-ears.png" />
      </div>
      <img id="rabbit-img" src="./images/rabbit-img.png" />
      <div id="main-sub-ctr">
        <a>
          토끼의 해에 태어난 라현이의 첫번째 생일에<br>
          여러분을 초대합니다 💕<br><br>
          2024.10.06(일) 12시<br>
          마산뷔페파크</a>
      </div>
      <a class="center-msg">HAPPY BIRTHDAY<br>KANG RA HYUN</a>
    </div>

    <div style="height: 40px;"></div>
    <!-- 초대 편지 -->
    <h1 class="title-msg">INVITATION</h1>
    <div style="position: relative;">
      <div id="letter-band"></div>
      <div id="letter-ctr">
        <img id="letter-top" src="./images/letter-top.png" />
        <img id="letter-bot" src="./images/letter-bot.png" />
        <a id="letter-head">
          라현이의 소중한 지인분들께 💕<br><br>
        </a>
        <a id="letter-msg">
          동해물과 백두산이 마르고 닳도록 하나님이 보우하사 우리나라<br>
          동해물과 백두산이 마르고 닳도록 하나님이 보우하사 우리나라<br>
          동해물과 백두산이 마르고 닳도록 하나님이 보우하사 우리나라<br>
          동해물과 백두산이 마르고 닳도록 하나님이 보우하사 우리나라<br>
        </a>
        <a id="letter-footer">
          아빠 강태성 & 엄마 김유경 올림.
        </a>
      </div>
    </div>

    <div style="height: 40px;"></div>
    <!-- 사진 -->
    <h1 class="title-msg">VIEW PHOTOS</h1>
    <div id="main-img"></div>
    <div id="img-list" class="no_scroll">
      <% for(var i=0; i<10; i++) { %>
        <img src="/images/rahyun00.jpg">
      <% } %>
    </div>

    <div style="height: 40px;"></div>
    <!-- 중요 정보 -->
    <div id="info-ctr">
      <div style="height: 40px;"></div>
      <h1 class="title-msg" style="color: #fff">남은 시간</h1>
      <a id="time-stamp">10일 11 : 00 : 00</a>

      <div style="height: 40px;"></div>
      <h1 class="title-msg" style="color: #fff">오시는길</h1>
      <a class="map-sub" style="font-weight: bolder; font-size: 1.3rem;">유로스퀘어 4층, 마산뷔페파크</a>
      <a class="map-sub" style="margin: 5px 0px 12px 0px;">마산합포구 해안대로 51 (구, 성지아울렛)</a>
      <a class="map-sub">지하 1~3층 주차가능 / 055-604-0002</a>
      <img src="/images/simple-map.png" style="width: 90%; margin-top: 15px; border: 1px solid #d7d5d3;">
      <a class="map-sub">< 약도 ></a>

      <div style="height: 40px;"></div>
      <h1 class="title-msg" style="color: #fff">ATTENDANCE</h1>
      <div style="height: 10px;"></div>
      <div class="sin-inpt-area">* 방문자명&nbsp;&nbsp;&nbsp;<input class="sin-inpt-box" id="data1" type="text"   placeholder="방문자명"/></div>
      <div class="sin-inpt-area">* 방문인원&nbsp;&nbsp;&nbsp;<input class="sin-inpt-box" id="data2" type="number" placeholder="인원수"/></div>
      <div class="sin-inpt-area">* 전화번호&nbsp;&nbsp;&nbsp;<input class="sin-inpt-box" id="data3" type="number" placeholder="전화번호"/></div>
      <div id="sin-btn">참석의사 전달하기</div>
    </div>
  </body>

  <div id="like-btn"></div>
  <a id="like-cnt"><%=like%></a>
</html>

<!--
토끼의 해에 태어난 라현이의 첫번째 생일에<br>
여러분을 초대합니다 💕<br><br>
2024.10.06 12시 
마산뷔페파크
-->