html, head, body {
  width: 100vw;
  height: auto;
  margin: 0px;
  padding: 0px;
  background-color: #FFF9F3;
}

body {
  max-width: 500px;
}

@font-face {
  font-family: "nritnrit";
  src: url("/fonts/nritnrit.ttf");
}

@font-face {
  font-family: "FromMom";
  src: url("/fonts/FromMom.ttf");
}

@font-face {
  font-family: "NanumSquareRoundB";
  src: url("/fonts/NanumSquareRoundB.ttf");
}

@font-face {
  font-family: "NanumSquareRoundR";
  src: url("/fonts/NanumSquareRoundR.ttf");
}

@font-face {
  font-family: "Jalnan2TTF";
  src: url("/fonts/Jalnan2TTF.ttf");
}

@font-face {
  font-family: "MooGoongHwa";
  src: url("/fonts/MooGoongHwa.ttf");
}

#main-ctr {
  position: relative;
  width: 100%;
}

#content-ctr {
  width: 100%;
}

#main-bg {
  position: absolute;
  animation: beat-bg 3s ease-in-out infinite;
  background-color: #f8e8d8;
}

#center-img {
  position: absolute;
  width: 56%;
  height: 46%;
  background-image: url(/images/rahyun00.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 45% 0 0 calc(22% - 7px);
  border-radius: 100vw;
  border: 7px solid #ffffff;
  box-shadow: 3px 3px 7px #1010101d;
}

#rabbit-ears-img {
  position: absolute;
  width: 150px;
  top: -50px;
  right: 0px;
  animation: rotate-repeat 1s ease-in-out infinite;
}

#rabbit-img {
  position: absolute;
  width: 20%;
  bottom: 15px;
  right: 18%;
}

#main-sub-ctr {
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 0px;
  font-family: 'FromMom', serif;
  font-weight: bolder;
  font-size: 1.2rem;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-img {
  width: 96vw;
  height: 96vw;
  margin: 10px 2vw;
  background-image: url("/images/rahyun00.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#img-list {
  display: flex;
  overflow-x: scroll;
  padding: 0px 2vw;
}

#img-list > img {
  width: 70px;
  height: 70px;
  margin: 0px 3px;
  object-fit: cover;
  flex-shrink: 0;
}

.main-size {
  width: 100%;
  height: 650px;
}

.line-img {
  width: 80%;
  margin: 0px 10%;
}

.center-msg {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 30px;
  font-family: 'Jalnan2TTF', serif;
  font-weight: bolder;
  font-size: 1.2rem;
  line-height: 2.2rem;
  letter-spacing: 7px;
  color: #ffffff;
  text-shadow: 2px 2px 0px #e6be95aa, 4px 4px 0px #e6be9540, 6px 6px 0px #e6be9540;
}

.title-msg {
  width: 100vw;
  margin-top: 90px;
  font-size: 1.5rem;
  color: #ffffffa2;
  letter-spacing: 10px;
  font-family: 'Jalnan2TTF', serif;
  text-align: center;
  text-shadow: 1px 1px 2px #ffffff, 0 0 0 #10101076 ;
}

#letter-ctr {
  margin-top: 50px;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 75%;
  margin-left: 12.5%;
  background-color: #fafafa;
  border-radius: 100vw;
  box-shadow: inset 1px 5px 7px #33333246;
}

#letter-ctr > img {
  width: 100%;
  position: absolute;
}

#letter-top { top: -25px; }
#letter-bot { bottom: -25px; }
#letter-head { 
  font-family: 'Frommom', serif;
  font-weight: bolder;
  text-align: center;
  font-size: 1.15rem;
  letter-spacing: 1px;
  line-height: 25px;
  margin: 80px 50px 10px 50px;
}
#letter-msg { 
  font-family: 'Frommom', serif;
  font-size: 1.05rem;
  letter-spacing: 1.2px;
  line-height: 35px;
  margin: 0px 50px;
  color: #1f1f1f;
}
#letter-footer { 
  font-family: 'Frommom', serif;
  font-weight: bolder;
  text-align: center;
  font-size: 0.95rem;
  letter-spacing: 1.2px;
  line-height: 35px;
  margin: 20px 50px 80px 50px;
  color: #1f1f1f;
}
#letter-msg > strong {
  font-size: 1rem;
}

#letter-band {
  width: 100vw;
  height: 45%;
  top: 50%;
  left: 50%;
  background-color: #d3b89c;
  position: absolute;
  transform: translate(-50vw, -50%);
}
.test1 { background-color: #ff123a; }
.test2 { background-color: #f1f13a; }
.test3 { background-color: #0aff3a; }
.test4 { background-color: #3312f1; }
.test5 { background-color: #3f12aa; }
.test6 { background-color: #f112f1; }

@keyframes rotate-repeat {
  0% {
    transform: rotate(19deg);
  }
  33% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(19deg);
  }
}

@keyframes beat-bg {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 30%, 0 70%);
  }
  50% {
    clip-path: polygon(0 0, 100% 0, 100% 25%, 0 75%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 30%, 0 70%);
  }
}

/* 스크롤이 안보이게 하는 css */
.no_scroll {
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}
/* Chrome, Safari,Opera */
.no_scroll::-webkit-scrollbar {display: none !important; }